:root {
  /* --whitesmoke: rgb(216, 215, 214);
  --dark-gray: rgb(143, 143, 143);
  --charcoal: rgb(56, 56, 56); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.App {
  /* text-align: center; */
}

.nav-container {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* border-bottom: 0.1px solid rgba(119, 212, 186, 0.574); */
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo-link {
  width: 100px;
}

.logo-img {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-list-item {
  list-style: none;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .logo-link {
    width: 125px;
  }
  .nav-list-item {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {

}

/* REVIEWS SECTION */
.reviews-main-container {
  padding: 20px;
  position: relative;
}

.review-section-title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 75px 0 15px 0;
  border-bottom: 0.1px solid rgb(0, 0, 0);
}

i {
  padding-right: 5px;
}

.reviews-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 40px 0;
  /* position: relative; */
}

.review-article-container {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  gap: 25px;
}

.review-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 100px;
}

.review-text-container {
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgb(190, 190, 190);
}

.review-text-location {
  font-size: 18px;
  margin-bottom: 5px;
}

.review-text-review {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.review-more-button {
  display: block;
  padding-top: 10px;
  cursor: pointer;
}

/* REVIEW MODAL */
.review-modal-container {
  position: fixed;
  top: 60px;
  left: -5px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: white;
}

.review-modal-close {
  position: relative;
  right: -120px;
}

.review-modal-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.review-modal-text-container {

}

.review-modal-text-container .review-text-location {
  text-align: center;
}

.review-text-date {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
}

.review-modal-text-container .review-text-review {
  line-height: 24px;
}

.review-text-reviewer {
  font-size: 14px;
  padding-top: 5px;
}

.review-modal-button-container {
  display: flex;
  gap: 20px;
}

.review-modal-button {
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .review-section-title-container {
    width: 75%;
    margin: 0 auto;
  }
  .reviews-grid-container {
    width: 75%;
    margin: 0 auto;
  }
  .review-img {
    width: 90px;
    height: 90px;
  }
  .review-modal-img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }
  .review-modal-text {
    width: 50%;
  }
  .review-modal-container {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1200px) {  
  .reviews-title {
    font-size: 30px;
  }
  .review-section-title-container {
    width: 50%;
  }
  .reviews-grid-container {
    width: 50%;
  }
  .review-img {
    width: 110px;
    height: 110px;
  }
  .review-text-location {
    font-size: 20px;
  }
  .review-text-review {
    font-size: 18px;
    line-height: 28px;
  }
  .review-more-button {
    font-size: 16px;
  }
  .review-modal-img {
    width: 275px;
    height: 275px;
    border-radius: 300px;
  }
  .review-modal-text {
    width: 25%;
  }
}

/* NEW REVIEW SECTION */
.new-review-button {
  cursor: pointer;
}

.new-review-modal-container {
  position: relative;
  margin-top: 30px;
}

.new-modal-close {
  position: absolute;
  right: 15px;
  top: -15px;
}

.new-review-form {
  padding: 5px 15px;
}

.form-input-container {
  padding: 5px 0;
}

.form-label {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}

.form-input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 0.5px solid rgb(154, 154, 154);
}

.form-date {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 0.5px solid rgb(154, 154, 154);
  font-family: 'Lato', sans-serif;
}

.form-textarea {
  min-height: 100px;
  width: 100%;
  resize: vertical;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  border-radius: 20px;
  padding: 5px 10px;
}

input:focus,
textarea:focus {
  outline: none;
}

.submit {
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 0.5px solid rgb(154, 154, 154);

}

@media only screen and (min-width: 768px) {
  .new-review-form {
    width: 75%;
    margin: 0 auto;
    /* padding: 5px 0; */
  }
  .new-modal-close {
    right: 100px;
    top: -15px;
  }
}

@media only screen and (min-width: 768px) {

}

/* EDIT MODAL */
.edit-review-modal-container {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 10px 35px;
  background-color: white;
  height: calc(100vh - 60px);
}
.edit-modal-close {
  position: absolute;
  right: 30px;
  top: -5px;
}

@media only screen and (min-width: 768px) {
  .edit-review-modal-container {
    position: fixed;
    top: 80px;
    height: calc(100vh - 65px);
  }
  .edit-review-modal-container .form-input-container {
    width: 75%;
    margin: 0 auto;
  }
  .edit-review-modal-form-container {
    margin-top: 80px;
  }
  .edit-modal-close {
    right: 120px;
    top: 55px;
  }
}

@media only screen and (min-width: 1200px) {
  .edit-review-modal-container .form-input-container {
    width: 30%;
  }
  .edit-modal-close {
    right: 530px;
    /* top: 55px; */
  }
}